/* Statistics 專用樣式 */
@layer utilities {
  .text-responsive-title {
    font-size: clamp(18px, 2.5vw, 32px);
  }

  .chart-title {
    font-size: clamp(16px, 2vw, 24px);
  }
  .upper-chart-title {
    margin-bottom: 1vw;
  }
  .lower-chart-title {
    margin-bottom: 0.2vw;
  }

  .chart-subtitle {
    font-size: clamp(14px, 1.5vw, 18px);
    margin-bottom: 1vw;
  }

  .text-responsive-small {
    font-size: clamp(12px, 1.2vw, 16px);
  }
}
